<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>JOBS</title>
    <link href="{{ url_for('assets', path='./assets/css/bootstrap.min.css') }}" rel="stylesheet">
    
    <link href="{{ url_for('assets', path='./assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('assets', path='./assets/css/font-awesome.css') }}" rel="stylesheet">
    <link href="{{ url_for('assets', path='./assets/css/templatemo-breezed.css') }}" rel="stylesheet">
    <link href="{{ url_for('assets', path='./assets/css/owl-carousel.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./assets/css/lightbox.css">


    </head>
    
    <body>
    


   
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
         
          <div class="item">
            <div class="img-fill">
               
                <div class="text-content">
                  <h3>Welcome To Job site</h3>
                
                  <a href="./jobs" class="main-stroked-button">Recruiter</a>
                  <a href="./home" class="main-filled-button">candidate</a>
                </div>
            </div>
          </div>
         

  
